<app-navbar></app-navbar>
<div class="home-container">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="image-container">
        <img src="../../../assets/mrabet.png.jpg" alt="profile image" class="profile-image" />
      </div>
      <div class="text-container">
        <h1>Mohamed MRABET</h1>
        <h4>Full Stack JS Developer</h4>
        <p>
          I am a passionate full-stack developer with a knack for crafting robust and scalable web applications. 
          I have honed my skills in front-end technologies like React.js and Next.js, as well as back-end technologies like Node.js, MySQL, Express, and MongoDB.
          My goal is to leverage my expertise to create innovative solutions that drive business growth and deliver exceptional user experiences.      
        </p>
      </div>
    </div>
  </div>

  <div id="skills-section" class="skills-section animate-fadeInup">
    <p style="font-size: 0.8cm; color:#080722;">My Skills</p>
  </div>
  <div class="card-container">
    <div class="card">
      <img src="../../../assets/Rea.png.png" alt="React">
      <div class="card-content">
        <p>React</p>
        <p>Helps developers build dynamic applications</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/Html.png.png" alt="HTML">
      <div class="card-content">
        <p>HTML</p>
        <p>The standard markup language for creating web pages</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/Next.png.jpg" alt="Next.js">
      <div class="card-content">
        <p>Next.js</p>
        <p>A React framework for building fast web applications</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/jQuery.png.png" alt="jQuery">
      <div class="card-content">
        <p>jQuery</p>
        <p>A fast, small, and feature-rich JavaScript library</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/TYpe.png.png" alt="TypeScript">
      <div class="card-content">
        <p>TypeScript</p>
        <p>JavaScript with syntax for types</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/ex.png.png" alt="Express">
      <div class="card-content">
        <p>Express</p>
        <p>Fast, unopinionated, minimalist web framework for Node.js</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/node.png.png" alt="Node.js">
      <div class="card-content">
        <p>Node.js</p>
        <p>JavaScript runtime built on Chrome's V8 JavaScript engine</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/Mongo.png" alt="Node.js">
      <div class="card-content">
        <p>MongoDB</p>
        <p>JavaScript runtime built on Chrome's V8 JavaScript engine</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/css.png.png" alt="Node.js">
      <div class="card-content">
        <p>Node.js</p>
        <p>JavaScript runtime built on Chrome's V8 JavaScript engine</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
