<app-navbar></app-navbar>
<div class="home-container">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="image-container">
        <img src="../../../assets/Rea.png.png" alt="profile image" class="profile-image" />
      </div>
      <div class="text-container">
        <h1>Project :1 (Portfolio website)</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sit quisquam
          molestiae nemo tempore expedita a non cum vitae. Quis dicta assumenda
          sit rerum quibusdam ratione quod rem perferendis explicabo.
        </p>
      </div>
    </div>
  </div>

  <div id="skills-section" class="skills-section animate-fadeInup">
    <p style="font-size: 25px; color:#6b02a6;">My Skills</p>
  </div>
    <div class="card-container">
      <mat-card class="example-card animate-fadeInup">
        <mat-card-header class="example-card-header">
          <p style="color: #6b08a6">React</p>
        </mat-card-header>
        <img src="../../../assets/Rea.png.png" alt="React">
        <mat-card-content>
          <p>Helps developers build dynamic applications</p>
        </mat-card-content>
        <button>Know more ...</button>
      </mat-card>
      <mat-card class="example-card animate-fadeInup">
        <mat-card-header class="example-card-header">
          <p style="color: #6b08a6">HTML</p>
        </mat-card-header>
        <img src="../../../assets/Html.png.png" alt="HTML">
        <mat-card-content>
          <p>The standard markup language for creating web pages</p>
        </mat-card-content>
        <button>Know more ...</button>
      </mat-card>
      <mat-card class="example-card animate-fadeInup">
        <mat-card-header class="example-card-header">
          <p style="color: #6b08a6">Next.js</p>
        </mat-card-header>
        <img src="../../../assets/Next.png.jpg" alt="Next.js">
        <mat-card-content>
          <p>A React framework for building fast web applications</p>
        </mat-card-content>
        <button>Know more ...</button>
      </mat-card>
    </div>
  </div>


<app-footer></app-footer>
